on init
    mkdir /data/property
    # sdcard/usb mount points
    mkdir /mnt
    mkdir /mnt/sdcard
    mkdir /mnt/usb
    mkdir /mnt/usb/sda1
    mkdir /mnt/usb/mmcblka1
    mkdir /storage

on fs
    mkdir /vendor/tvconfig
    symlink /vendor/tvconfig/config /config
    mount ext4 /dev/block/platform/mstar_mci.0/by-name/tvconfig /vendor/tvconfig wait noatime block_validity nodiscard data=ordered journal_checksum

    # restore security contexts here to label those device nodes created by utopia
    restorecon /dev/gflip
    restorecon /dev/msmailbox
    restorecon /dev/system

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
#service watchdogd /sbin/watchdogd 10 20
#    class core
# enable ir input for reboot recovery case
    write /sys/module/mdrv_ir/parameters/input_event_en 1
    write /sys/module/mdrv_ir/parameters/input_dev_event_enable 1

on boot
    wait /ir_done 1
    umount /vendor/tvconfig
    umount /vendor
